#footer {
    background: rgba(244, 129, 63, 1) 0%, rgba(241, 85, 106, 1) 100%);
    padding: 0 0 30px 0;
    font-size: 15px;
}

#footer .footer-top {
    background: rgba(244, 129, 63, 1) 0%, rgba(241, 85, 106, 1) 100%);
    border-bottom: 1px solid rgba(244, 129, 63, 1) 0%, rgba(241, 85, 106, 1) 100%);
    ;
    padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
    margin-bottom: auto;
}

#footer .footer-top .footer-info h3 {
    font-size: 35px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}

#footer .footer-top .footer-info p {
    font-size: 25px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
    color: #fff;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #ff8c1a;
    align-items: center;
    color: #fff;
    line-height: 15;
    padding: 5px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: #ff471a;
    color: #fff;
    text-decoration: none;
}

#footer .footer-top h4 {
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    position: relative;
    padding-bottom: 1px;
}

#footer .footer-top .footer-links {
    margin-bottom: -15px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #ff471a;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.7s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    color: #ef6603;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
    color: white;
}

#footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #ff471a;
}