
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>


    <!-- Google Tag Manager -->

    <script>
        (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
        'gtm.start':
        new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KF9ZMVQ');
    </script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="payflex e fatura, ucretsiz efatura, fatura,
          e-Fatura, e-Irsaliye,e fatura, ücretsiz efatura, efatura başvuru,
          efatura fiyatları, efatura entegratörü,ceptefatura, efatura programi, e-arsiv" />
    <meta name="description" content="Ücretsiz E-Fatura Platformu Sayesinde Ön Muhasebe İşlemlerinizi Sadeleştirin, Kolaylaştırın ve Hızlandırın | ücretsiz efatura,ceptefatura, e-Fatura, e-Arşiv, e-İrsaliye, e-Defter, " />
    <meta name="google-site-verification" content="ltjQLHfs2UarGRpM1smzYcquFMlcVkIh7hvrTxM5sak" />
    <meta name="publisher" content="VS 2019" />
    <meta name="author" content="bilsoft" />
    <meta name="copyright" content="Bilsoft Yazılım"/>
    <meta name="robots" content="index, follow" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="https://twitter.com/CepteFaturam" />
    <meta name="twitter:site" content="CepteFaturam" />
    <meta name="twitter:image" content="https://www.ceptefaturam.com/Content/assets/images/resized_logoooo123.png" />
    <meta name="twitter:description" content="e-Fatura, ceptefaturam.com, dijital dönüşüm, ücretsiz efatura, efatura portal, e-irsaliye, e-arşiv, efatura programi" />
    <meta property="og:type" content="yazılım" />
    <meta property="og:locale" content="tr_TR" />
    <meta property="og:title" content="Cepte Faturam & E-Fatura Ücretsiz Dijital Dönüşüm" />
    <meta property="og:url" content="https://www.ceptefaturam.com/" />
    <meta property="og:image" content="https://wwww.ceptefaturam.com/Content/assets/images/logoooo.png" />
    <meta property="og:description" content="ÜCRETSİZ E-FATURA DÜNYASINA HOŞGELDİNİZ!" />

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet" />



    <title>Cepte Faturam & E-Fatura Ücretsiz Dijital Dönüşüm</title>

    <link href="~/Content/assets/images/favicon.jpg" rel="icon" />
    <link href="~/Content/assets/images/favicon.jpg" rel="apple-touch-icon" />
    <link href="~/Content/assets2/css/style2.css" rel="stylesheet" />
    <link href="~/Content/assets/css/style.css" rel="stylesheet" />
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/assets/css/templatemo-lava.css" rel="stylesheet" />
    <link href="~/Content/assets/css/owl-carousel.css" rel="stylesheet" />
    <link href="~/Content/assets/css1/fontawesome.css" rel="stylesheet" />
    <link href="~/Content/assets/css1/templatemo-finance-business.css" rel="stylesheet" />
    <link href="~/Content/assets/css1/owl.css" rel="stylesheet" />
    <?xml version="1.0" encoding="UTF-8" ?>
    <sitemapindex xmlns="http://www.ceptefaturam.com/Content/sitemap.xml">

    </sitemapindex>
    


</head>

<!--Start of Tawk.to Script-->

<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/60bf1eaa4ae6dd0abe7d1081/1f7l8viim';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KF9ZMVQ"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                   <div class="col-11">
                       <nav class="main-nav">
                           <a href="/Efatura/Ana_Sayfa" title="Anasayfa" class="logo">

                               <img id="logoMobil" style="max-width:240px;" src="~/Content/assets/images/logoooo.png" alt="ceptefatura" >
                           </a>
                           <ul class="nav">

                               <li class="scroll-to-section"><a href="/Efatura/Ana_Sayfa" title="Ceptefaturam Anasayfa" class="">ANASAYFA</a></li>
                               <li class="scroll-to-section"><a href="/Efatura/Ozellikler" title="Ceptefaturam Özellikler" class="">ÖZELLİKLER</a></li>
                               <li class="scroll-to-section"><a href="/Efatura/Kampanyalar" title="Ceptefaturam Kampanyalar" class="">KAMPANYALAR</a>
                               <li class="scroll-to-section"><a href="/Efatura/SSS" title="Sıkça sorulan sorular" class="">S.S.S</a>
                               <li class="scroll-to-section"><a href="/Efatura/BLOG" title="Ceptefaturam Blog" class="">BLOG</a>
                               <li class="scroll-to-section"><a href="/Efatura/Destek" title="Ceptefaturam Destek" class="">DESTEK</a>
                               <li class="scroll-to-section"><a href="/Efatura/Iletisim" title="Ceptefaturam İletişim" class="">İLETİŞİM</a></li>
                           </ul>
                           <a class='menu-trigger' title="Menu">
                               <span>Menu</span>
                           </a>
                       </nav>
                   </div>
                   <div class="col-1">
                       
                         <a href="~/setup/sanalfatura.msi" id="btnIndir" title="Ücretsiz efatura programı">HEMEN İNDİR</a>

                       
                   </div>
            </div>
        </div>
    </header>
    @RenderBody()
<section id="footer">
    <footer>
        <div class="container">
            <div class="row">

                <div class="col-md-4 footer-item">
                    <div style="font-weight:600;">
                        <li id="mailMobil" >e-mail:<a style="color:black;" href="mailto:" title="bilgi@ceptefaturam.com"> bilgi@ceptefaturam.com</a></li>
                    </div>

                    <ul class="social-icons">
                        <li><a href="https://www.facebook.com/profile.php?id=100069136936659" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/ceptefaturam/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://twitter.com/CepteFaturam" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/cepte-faturam-0b8161214/?originalSubdomain=tr" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    </ul>

                </div>
                <div class="col-md-4 footer-item">
                    <h4>Sayfa Linkleri</h4>
                    <ul class="menu-list">
                        <li><a href="/Efatura/Ana_Sayfa"title="Anasayfa" >Anasayfa</a></li>
                        <li><a href="/Efatura/Ozellikler" title="Özellikler">Özellikler</a></li>
                        <li><a href="/Efatura/Kampanyalar" title="Kampanyalar">Kampanyalar</a></li>
                        <li><a href="/Efatura/SSS" title="SSS">Sıkça Sorulan Sorular</a></li>
                        <li><a href="/Efatura/Destek" title="Destek">Destek</a></li>
                        <li><a href="/Efatura/Iletisim" title="İletişim">İletişim</a></li>
                    </ul>
                </div>
                <div class="col-md-4 footer-item">
                    <h4>Özellikler</h4>
                    <ul class="menu-list">
                        <li><a href="/Efatura/Ozellikler" title="efatura modül">Fatura Modulü</a></li>
                        <li><a href="/Efatura/Ozellikler" title="efatura cari kart">Cari Kart Modulü</a></li>
                        <li><a href="/Efatura/Ozellikler" title="efatura stok">Stok Takibi Modulü</a></li>
                        <li><a href="/Efatura/Ozellikler" title="efatura rapoarlama">Raporlama Sistemi</a></li>
                        <li><a href="/Efatura/Ozellikler" title="efatura arşivleme">Arşivleme</a></li>
                        <li><a href="/Efatura/Ozellikler" title="efatura gönderme">Gönderme</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </footer>
    
    <div class="sub-footer">

        <div class="container">            
            <div class="copyright">
                &copy; Copyright <strong><span>CepteFaturam</span></strong>. Tüm Hakları Saklıdır. Ceptefaturam bir <a id="ayri" href="https://www.bilsoft.com/" title="www.bilsoft.com"> Bilsoft Yazılım </a>  Kuruluşudur. &nbsp;<a href="Kullanim_sartlari" title="Kullanım Şartları" >Çerez Politikası</a>
            </div>
        </div>
    </div>

    <script src="~/Content/assets/js/jquery-2.1.0.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/popper.js"></script>
    <script src="~/Content/assets/js/owl-carousel.js"></script>
    <script src="~/Content/assets/js/scrollreveal.min.js"></script>
    <script src="~/Content/assets/js/waypoints.min.js"></script>
    <script src="~/Content/assets/js/imgfix.min.js"></script>
    <script src="~/Content/assets/js/jquery.counterup.min.js"></script>
    <script src="~/Content/assets/js/custom.js"></script>

    @model CepteFaturaMvc.Models.Email

    <script>
        $("form button.btn").on("click", function () {

            let mail = {
                "ad": $("input#ad").val(),
                "telefon": $("input#telefon").val(),
                "email": $("input#email").val(),
                "konu": $("input#konu").val(),
                "mesaj": $("textarea#mesaj").val(),
            };
           
       
            $.ajax({
                url: "@Url.Action("Ana_Sayfa","Efatura")",
                type: "post",
                dataType: "JSON",
                data: mail,
                success: function (res) {
                    console.log(res)
                    if (res.IsSuccess) {

                    } else { }
                    for (var i = 0; i < 5; i++) {
                        $("form")[i].reset()
                    }

                },
                error: function () {

                }
            });

            return false;
        })

    </script>
</section>
</body>
</html>