
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KF9ZMVQ');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="efatura web socket,mikro efatura, ucretsiz efatura,fatura,
          e-Fatura, e-İrsaliye,e fatura, ücretsiz efatura, efatura başvuru,
          efatura fiyatları, efatura entegratörü">
    <meta name="description" content="e-Fatura, e-Arsiv, e-İrsaliye, e-Defter ücretsiz dijital dönüşümleriyle firmalar tarafından en çok tercih edilen ceptefaturam.com, firmanızın finansal süreçlerinde hızlı ve güvenli bir teknoloji sunar.">

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">


    <title>E-Fatura Ücretsiz Dijital Dönüşüm & Cepte Faturam</title>

    <link href="~/Content/assets2/css/style2.css" rel="stylesheet" />

    <link href="~/Content/assets/css/style.css" rel="stylesheet" />

    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/assets/css/templatemo-lava.css" rel="stylesheet" />

    <link href="~/Content/assets/css/owl-carousel.css" rel="stylesheet" />
    <link href="~/Content/assets/css1/fontawesome.css" rel="stylesheet" />
    <link href="~/Content/assets/css1/templatemo-finance-business.css" rel="stylesheet" />
    <link href="~/Content/assets/css1/owl.css" rel="stylesheet" />



</head>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/60bf1eaa4ae6dd0abe7d1081/1f7l8viim';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KF9ZMVQ"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                   <div class="col-12">
                    <nav class="main-nav">
                        <a href="/Efatura/Ana_Sayfa" class="logo">

                            <img style="max-width:161px;" src="~/Content/assets/images/logoooo.png" alt="ücretsiz efatura"/>
                        </a>
                        <ul class="nav">



                            <li class="scroll-to-section"><a href="/Efatura/Ana_Sayfa" class="">ANASAYFA</a></li>
                            <li class="scroll-to-section"><a href="/Efatura/Ozellikler" class="">ÖZELLİKLER</a></li>
                            <li class="scroll-to-section"><a href="/Efatura/Kampanyalar" class="">KAMPANYALAR</a>
                            <li class="scroll-to-section"><a href="/Efatura/SSS" class="">S.S.S</a>
                            <li class="scroll-to-section"><a href="/Efatura/BLOG" class="">BLOG</a>
                            <li class="scroll-to-section"><a href="/Efatura/Destek" class="">DESTEK</a>
                            <li class="scroll-to-section"><a href="/Efatura/Iletisim" class="">İLETİŞİM</a></li>
                            <li class="scroll-to-section"><a href="https://ceptefaturam.com/setup/setup.msi" class="">HEMEN İNDİR</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>

                    </nav>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
<

    <footer>
        <div class="container">

            <div class="row">


                <div class="col-md-4 footer-item">
                    <div style="font-weight:600;">

                        <li>  Telefon:  <a style="color:black;" href="tel:+908506110667">0850 611 0667</a>  </li>    <br>
                        <li>  E-Mail:   <a style="color:black;" href="mailto:">  bilgi@ceptefaturam.com  </a> </li>
                    </div>

                    <ul class="social-icons">
                        <li><a href="https://www.facebook.com/profile.php?id=100069136936659" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/ceptefaturam/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://twitter.com/home" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/feed/" target="_blank"><i class="fa fa-linkedin"></i></a></li>

                    </ul>


                </div>
                <div class="col-md-4 footer-item">
                    <h4>Sayfa Linkleri</h4>
                    <ul class="menu-list">
                        <li><a href="/Efatura/Ana_Sayfa">Anasayfa</a></li>
                        <li><a href="/Efatura/Ozellikler">Özellikler</a></li>
                        <li><a href="/Efatura/Kampanyalar">Kampanyalar</a></li>
                        <li><a href="/Efatura/SSS">Sıkça Sorulan Sorular</a></li>
                        <li><a href="/Efatura/Destek">Destek</a></li>
                        <li><a href="/Efatura/Iletisim">İletişim</a></li>

                    </ul>
                </div>
                <div class="col-md-4 footer-item">
                    <h4>Özellikler</h4>
                    <ul class="menu-list">
                        <li><a href="/Efatura/Ozellikler">Fatura Modulü</a></li>
                        <li><a href="/Efatura/Ozellikler">Cari Kart Modulü</a></li>
                        <li><a href="/Efatura/Ozellikler">Stok Takibi Modulü</a></li>
                        <li><a href="/Efatura/Ozellikler">Raporlama Sistemi</a></li>
                        <li><a href="/Efatura/Ozellikler">Arşivleme</a></li>
                        <li><a href="/Efatura/Ozellikler">Gönderme</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </footer>

    <div class="sub-footer">

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>CepteFaturam</span></strong>. Tüm Hakları Saklıdır. Ceptefaturam bir  <a id="ayri" href="https://www.bilsoft.com/"> Bilsoft Yazılım </a>  kuruluşudur. &nbsp;<a href="Kullanim_sartlari">Çerez Politikası</a>
            </div>

        </div>

    </div>




    <script src="~/Content/assets/js/jquery-2.1.0.min.js"></script>



    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/popper.js"></script>

    <script src="~/Content/assets/js/owl-carousel.js"></script>

    <script src="~/Content/assets/js/scrollreveal.min.js"></script>

    <script src="~/Content/assets/js/waypoints.min.js"></script>
    <script src="~/Content/assets/js/imgfix.min.js"></script>
    <script src="~/Content/assets/js/jquery.counterup.min.js"></script>

    <script src="~/Content/assets/js/custom.js"></script>


</body>

</html>
