
@{
    ViewBag.Title = "Destek";
    Layout = "~/Views/Shread/_Layout.cshtml";
}

<div class="header-text">

    <div class="container">

        <div class="section-title">

            <div class="text-center">
                <h2 style="color: rgb(247, 141, 102)">SİZE ULAŞALIM</h2>
            </div>
        </div>
        <center>
            <form method="post" role="form" id="form" class="php-email-form col-lg-10">
                <div class="row">
                    <div class="col-md-6 form-group ">
                        <input type="text" name="ad" class="form-control" id="ad" style="margin-top:15px; color:#5786b4;border:2px solid #ced4da;" placeholder="Adınız Soyadınız:" data-rule="minlen:4" data-msg="Lütfen Boş Bırakmayınız." />
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                        <input type="email" class="form-control" name="email" id="email" style="margin-top:15px; color:#5786b4;border:2px solid #ced4da;" placeholder="E-Mail Adresiniz:" data-rule="email" data-msg="Lütfen Boş Bırakmayınız." />
                    </div>
                </div>
                <div class="col-md-offset-4 mt-4 col-md-12">
                    <div class="text-center" style="margin-top:30px;border-color: #ec6d3e;"><button type="button" class="btn btn-success">Gönder</button></div>
                </div>
            </form>
        </center>

        <div style="text-align:center; margin-top:50px; margin-bottom: 30px;" class="row contact-info">
            <div class="text-center" style="margin-top:10px; margin-bottom:20px">
            </div>

            <div class="container">
                <h4 style="color: rgb(247, 141, 102);margin-bottom: 30px;">BİZE ULAŞIN</h4>
                <div class="row">
                    <div class="col-md-12">
                        <div class="contact-icon">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </div>
                        
                        <a style="color: black; font-weight: 500; margin-bottom: 30px;" title="bilgi@ceptefaturam.com" href="mailto:">bilgi@ceptefaturam.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>