
@{
    ViewBag.Title = "Ozellikler";
    Layout = "~/Views/Shread/_Layout.cshtml";
}

<h2 style="text-align: center; color: #ff7f50;margin-bottom:50px; margin-top:140px; font-weight: 400;">E-FATURA ÖZELLİKLER</h2>

<div class="header-text">

    <div class="container">
        <div class="row ">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">

                <div class="features-item">
                    <div class="features-icon">
                        <img id="cari" width="75" src="~/Content/assets/images/cari.png" alt="efatura programi" title="cari">

                        <h2>Cari Kart Modülü</h2>

                        <br><li>Cari Hesap kartı tanımlama </li><br>
                        <li>Cariye Stoklu-Stoksuz Satış</li><br>
                        <li>Cariye Kasa'dan ödeme ve tahsilat Yapabilme</li><br>                        
                        <li>Cariyi borçlandırma ve alacaklandırma işlemleri</li><br>
                        <li>Tahsilat ve ödeme makbuzu kesme</li><br>
                        <li>Cari Hesap ekstresi</li>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <img width="75" src="~/Content/assets/images/stok_takibi_modülü.png" alt="ceptefatura" title="stok">

                        <h2>Stok Takibi Modülü</h2>

                        <br><li>Sınırsız Stok kartı Tanımlama </li> <br>
                        <li>Barkodsuz ürünler için otomatik barkod tanımlama</li><br>
                        <li>Gramajlı ürünler için otomatik barkod tanımlama</li><br>
                        <li>Stok grubu ve birimi tanımlama</li>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">

                        <img width="75" src="~/Content/assets/images/raporlama_takip_modülü.png" alt="e-Fatura" title="raporlama">

                        <h2>Raporlama Sistemi</h2>
                        <br><li>Cari Kartlara Ait Hesap ekstresi </li><br>
                        <li>Toplu Cari Raporu vb.</li><br>
                        <li>Stok Depo Hareketleri</li><br>
                        <li>Stok Listeleri Raporu vb.</li><br>
                        <li>Satış Raporu ve Satış Grafiği</li>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">

                <div class="features-item">
                    <div class="features-icon">
                        <img width="75" src="~/Content/assets/images/fatura_modülü.png" alt="payflex e fatura" title="fatura">

                        <h2>Fatura Modülü</h2>
                        <br><li>Alış, Satış ve İade faturası düzenleme </li><br>
                        <li>Standart ve gramajlı ürün barkod desteği</li><br>
                        <li>İrsaliyeyi fatura dönüştürme</li><br>
                        <li>Fatura makbuz basımı</li><br>
                        <li>Detaylı alış, satış ve iade faturası raporlama</li>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">

                        <img width="75" src="~/Content/assets/images/gönderme_taslak.png" alt="ucretsiz efatura" title="gönderme">

                        <h2>Gönderme & Taslak Hazırlama </h2>

                        <br><li>Fatura işlemlerinizi mail alma ve gönderme kolaylığında gerçekleştirebilirsiniz. </li><br>
                        <li> Tıpkı mail'lerde olduğu gibi taslak olarak hazırlayabilirsiniz.</li><br></div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">

                        <img width="75" src="~/Content/assets/images/arsivleme3.png" alt="e-arsiv" title="arşivleme">

                        <h2>Arşivleme </h2>

                        <br><li>Minimum 10 yıl boyunca güvenli bir şekilde arşivleyebilirsiniz.</li><br>                       
                            <li>Gramajlı ürünler için otomatik barkod tanımlama</li><br>
                    </div>
                </div>
            </div>
        </div>
    </div>