
@{
    ViewBag.Title = "SSS";
    Layout = "~/Views/Shread/_Layout.cshtml";
}


<section class="section" id="testimonials">

    <h2 style="text-align:center; color:#ff7f50; margin-bottom:50px; margin-top:50px;">SIKÇA SORULAN SORULAR</h2>
    <section id="sss">       

        
        <div class="container" style="text-align:center">
            <div id="warning">              

            </div>
        </div>

        <div id="s.s.s " class="col-lg-10 col-md-12 col-sm-12 mobile-bottom-fix-big " data-scroll-reveal="enter left move 30px over 0.6s after 0.4s ">
            <div class="owl-carousel owl-theme ">
                <div class="item service-item ">
                    <div class="ballon ">
                        <img src="~/Content/assets/images/deneme.png" alt="ucretsiz efatura" />

                    </div>
                    <div class="testimonial-content ">
                        <ul class="stars ">
                            <li><i class="fa fa-star " ></i></li>
                            <li><i class="fa fa-star " ></i></li>
                            <li><i class="fa fa-star " ></i></li>
                            <li><i class="fa fa-star " ></i></li>
                            <li><i class="fa fa-star " ></i></li>
                        </ul>

                        <h4>E-FATURA NEDİR?</h4>
                        <p>“Dijital ortamda hazırlanan faturalara Elektronik Fatura (E-Fatura) denir. Kâğıda basılmayan ve internet üzerinden alıcı ve satıcıya iletilen e-fatura, ileride tüm firmalar için zorunlu hale getirilecektir.”</p>
                    </div>
                </div>

                <div class="item service-item ">
                    <div class="ballon ">
                        <img src="~/Content/assets/images/deneme.png" alt="ucretsiz efatura" />
                    </div>
                    <div class="testimonial-content ">
                        <ul class="stars ">
                            <li><i class="fa fa-star " ></i></li>
                            <li><i class="fa fa-star " ></i></li>
                            <li><i class="fa fa-star " ></i></li>
                            <li><i class="fa fa-star " ></i></li>
                            <li><i class="fa fa-star " ></i></li>
                        </ul>
                        <h4>E-FATURAYI NİÇİN KULLANMALIYIM?</h4>
                        <p>
                            “E-fatura kullanımında girilen faturalar anında dijital ortama kayıt edildiğinden müşteriler ve satıcılarla mutabakat yapmanız kolaylaşır. Fatura saklama iş yükü ve maliyetinden kurtulursunuz. Sanal Fatura aracılığıyla
                            güvenli bir şekilde fatura gönderip alarak fatura bilgilerine sistem sorgusuyla anında erişerek faturaya ilişkin bilgilerin anında kontrolünü sağlayabilirsiniz.”
                        </p>
                    </div>
                </div>

                <div class="item service-item ">
                    <div class="ballon ">
                        <img src="~/Content/assets/images/deneme.png" alt="ucretsiz efatura" />
                    </div>

                    <div class="testimonial-content ">
                        <ul class="stars ">
                            <li><i class="fa fa-star " ></i></li>
                            <li><i class="fa fa-star " ></i></li>
                            <li><i class="fa fa-star " ></i></li>
                            <li><i class="fa fa-star " ></i></li>
                            <li><i class="fa fa-star " ></i></li>
                        </ul>
                        <h4>Zorunluluk kapsamında değilim.Yine de e-fatura uygulamasına kendi isteğim ile dahil olabilir miyim?</h4>
                        <p>“Evet. İsteğe bağlı olarak e-fatura uygulamasına dahil olmak mümkündür.”</p>
                    </div>
                </div>

                <div class="item service-item ">
                    <div class="ballon ">
                        <img src="~/Content/assets/images/deneme.png" alt="ucretsiz efatura" />

                    </div>
                    <div class="testimonial-content ">
                        <ul class="stars ">
                            <li><i class="fa fa-star "></i></li>
                            <li><i class="fa fa-star "></i></li>
                            <li><i class="fa fa-star "></i></li>
                            <li><i class="fa fa-star "></i></li>
                            <li><i class="fa fa-star "></i></li>
                        </ul>
                        <h4>E-fatura uygulamasına nasıl dahil olabilirim?</h4>
                        <p>“GİB’e e-fatura başvurunuzu yapıp, mali mührünüzü almanız gerekir.”</p>
                    </div>
                </div>

                <div class="item service-item ">
                    <div class="ballon ">

                        <img src="~/Content/assets/images/deneme.png" alt="ucretsiz efatura" />
                    </div>
                    <div class="testimonial-content ">
                        <ul class="stars ">
                            <li><i class="fa fa-star "></i></li>
                            <li><i class="fa fa-star "></i></li>
                            <li><i class="fa fa-star "></i></li>
                            <li><i class="fa fa-star "></i></li>
                            <li><i class="fa fa-star "></i></li>
                        </ul>
                        <h4>E-faturanın çıktısını alıp yazdırmam gerekiyor mu?</h4>
                        <p>“Hayır böyle bir zorunluluk yoktur. Müşterilerinize faturanızı elektronik ortamda iletirsiniz. Süreç tamamen dijital ortamda gerçekleşir.”</p>
                    </div>
                </div>

                <div class="item service-item ">
                    <div class="ballon ">

                        <img src="~/Content/assets/images/deneme.png" alt="ucretsiz efatura" />
                    </div>
                    <div class="testimonial-content ">
                        <ul class="stars ">
                            <li><i class="fa fa-star "></i></li>
                            <li><i class="fa fa-star "></i></li>
                            <li><i class="fa fa-star "></i></li>
                            <li><i class="fa fa-star "></i></li>
                            <li><i class="fa fa-star "></i></li>
                        </ul>
                        <h4>E-fatura uygulamasına geçtikten sonra kâğıt fatura düzenleyemez miyim?</h4>
                        <p>
                            “E-fatura uygulamasına geçtikten sonra sisteme dahil olan firmalara e-fatura, dahil olmayan firmalara ise kağıt fatura göndermeniz gerekmektedir. Bu nedenle fatura alıcısının sisteme dahil olup olmadığının kontrolü fatura
                            oluşturulmadan önce mükellef tarafından yapılmalıdır.”
                        </p>
                    </div>
                </div>

                <div class="item service-item ">
                    <div class="ballon ">
                        <img src="~/Content/assets/images/deneme.png" alt="ucretsiz efatura" />

                    </div>
                    <div class="testimonial-content ">
                        <ul class="stars ">
                            <li><i class="fa fa-star "></i></li>
                            <li><i class="fa fa-star "></i></li>
                            <li><i class="fa fa-star "></i></li>
                            <li><i class="fa fa-star "></i></li>
                            <li><i class="fa fa-star "></i></li>
                        </ul>
                        <h4>Müşterilerimin e-fatura kullanıcısı olduklarını nasıl bilirim?</h4>
                        <p>
                            “Programın satış ekranında müşterinin vergi numarası yazıldığında, fatura alıcısının sisteme dahil olup olmadığını otomatik olarak kontrol etmektedir. Bir diğer kontrol edebileceğini yer ise E-Fatura resmi sitesinde yer
                            alan liste düzenli olarak güncellenmektedir.”
                        </p>

                    </div>
                </div>

                <div class="item service-item ">
                    <div class="ballon ">
                        <img src="~/Content/assets/images/deneme.png" alt="ucretsiz efatura" />
                    </div>
                    <div class="testimonial-content ">
                        <ul class="stars ">
                            <li><i class="fa fa-star "></i></li>
                            <li><i class="fa fa-star "></i></li>
                            <li><i class="fa fa-star "></i></li>
                            <li><i class="fa fa-star "></i></li>
                            <li><i class="fa fa-star "></i></li>
                        </ul>
                        <h4>E-Faturayı nasıl arşivleyeceğim?</h4>
                        <p>“E-Faturaların çıktısının alınıp saklanması gibi bir yasal zorunluluğunuz bulunmamaktadır. Faturalar tamamen elektronik ortamda arşivlenir. Yine de dileyen kullanıcılar çıktılarını saklayabilir.”</p>

                    </div>
                </div>

                <div class="item service-item ">
                    <div class="ballon ">
                        <img src="~/Content/assets/images/deneme.png" alt="ucretsiz efatura" />
                    </div>
                    <div class="testimonial-content ">
                        <ul class="stars ">
                            <li><i class="fa fa-star "></i></li>
                            <li><i class="fa fa-star "></i></li>
                            <li><i class="fa fa-star "></i></li>
                            <li><i class="fa fa-star "></i></li>
                            <li><i class="fa fa-star "></i></li>
                        </ul>
                        <h4>Temel ya da Ticari Fatura Senaryosu Nedir?</h4>
                        <p>
                            “E-fatura sistemine geçtikten sonra, e-fatura ile çalışacağınız müşteri ya da tedarikçilerle temel ya da ticari fatura senaryolarından birini seçmeniz gerekiyor. Ticari Fatura Senaryosu’nda müşterinizin 7 gün içinde kabul
                            ya da ret vermesi gerekir. Eğer vermezse faturayı kabul etmiş sayılır. Temel faturada bu şekilde bir onay süreci bulunmamaktadır.”
                        </p>
                    </div>
                </div>
                <div class="item service-item ">
                    <div class="ballon ">
                        <img src="~/Content/assets/images/deneme.png" alt="ucretsiz efatura" />
                    </div>
                    <div class="testimonial-content ">
                        <ul class="stars ">
                            <li><i class="fa fa-star " ></i></li>
                            <li><i class="fa fa-star " ></i></li>
                            <li><i class="fa fa-star " ></i></li>
                            <li><i class="fa fa-star " ></i></li>
                            <li><i class="fa fa-star " ></i></li>
                        </ul>
                        <h4>E-Fatura sistemi ile irsaliye hazırlayabilir miyim?</h4>
                        <p>
                            "Evet. Bunu yapabilmek için e-faturanın malın teslim edileceği tarihte düzenlenmiş olması gerekir. Gönderdiğiniz e-faturada düzenleme tarihi yanında düzenleme zamanının saat olarak gösterilmesi halinde e-faturanın kâğıt
                            dökümü irsaliye yerine geçer. Fakat bu çıktıya “İrsaliye yerine geçer” ifadesinin yazılması ve kâğıdın kaşelenip imzalanması da gerekir. "
                        </p>
                    </div>
                </div>
            </div>
        </div>
       
